.app{
  text-align: center; 
  background-color: rgb(200, 160, 206);
}

.container {
  background-color:darkslategray;
  justify-content: center;
  width: 50%;
  margin: 5%;
  /* margin-left: 5%;
  margin-top: 5%; */
  text-align: center;
  padding: 20%;
}

input[type=text], select{
  width: 80%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  width: 20%;
  background-color: #80ff0070;
  color: black;
  padding: 14px 20px;
  margin: 8px 0; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
}

button:hover{
  background-color: #7fff00;
}

.header{
  width: 100%;
  padding: 12px 20px;
  color: white;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.List-heading{
  color: black;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: cornflowerblue;
  width: 70%;
}

.listData{
  color: black;
  font-size: 20px;
  background-color: rgb(164, 203, 237);
  text-align: left;
  width: 53%;
  /* padding-left: 30px;
  padding-bottom: 2%;
  padding-top: 2%; */
  padding: 2%;
  border-radius: 10px;
}

.btn-position{
  position: relative;
  left: 60%;
  top: -80px;
  display: flex;
}